name: Tests

on:
  push:
    branches: [master]

defaults:
  run:
    shell: bash

jobs:
  test:
    runs-on: ubuntu-latest
    name: Unit Tests
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Golang
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.x"

      - name: Run Tests
        run: make test
